/* Minimal CSS Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.15;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a {
    background-color: transparent;
}

b,
strong {
    font-weight: bolder;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

/* General */

.bg-dimgray {
    background-color: dimgray;
}

.bg-lightgray {
    background-color: lightgray;
}

/* Navigation */

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 36px;
    font-family: sans-serif;
    z-index: 1;
}

.nav.opened {
    height: 100vh;
    padding-top: 15%;
}

.nav li {
    display: none;
    text-align: center;
}

.nav.opened li {
    display: block;
    padding-bottom: 20px;
}

.nav li.menu {
    display: inline-block;
    width: 36px;
    padding: 0;
}

.nav li.menu .close {
    display: none;
}

.nav.opened li.menu {
    position: absolute;
    top: 0;
}

.nav.opened li.language {
    position: absolute;
    top: 0;
    right: 0;
}

.nav.opened li.menu .open {
    display: none;
}

.nav.opened li.menu .close {
    display: block;
}

.nav li a {
    color: white;
    text-decoration: none;
}

.nav li.language {
    display: inline-block;
    float: right;
    padding: 10px 10px 0 0;
}

/* Content */

.skip-to-content {
    position: absolute;
    top: auto;
    left: -999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index:-999;
    visibility: hidden;
}

.content {
    margin-top: 36px;
    font-family: sans-serif;
}

.row {
    padding: 20px;
}

.row > .col {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    margin: 15px auto;
    line-height: 1.5;
    max-width: 354px;
    font-size: 20px;
}

h2 {
    margin: 15px auto;
    line-height: 1.5;
    max-width: 348px;
    font-size: 18px;
}

.h3-sm {
    font-weight: 700;
}

p {
    margin: 15px auto 18px;
    max-width: 354px;
    font-size: 14px;
}

p:last-child {
    margin-bottom: 0;
}

.btn {
    display: inline-block;
    margin: 15px 0 15px;
    background: #fff;
    border: 1px solid #000;
    padding: 10px;
    color: #000;
    text-decoration: none;
}

.btn:last-child {
    margin-bottom: 0;
}

.pt1 {
    padding-top: 20px;
}

@media only screen and (min-width: 600px) and (max-width: 719px) {

    .row {
        padding: 30px 60px;
    }

    .row > .col:after {
        display: table;
        clear: both;
        content: "";
    }

    .row > .col .col {
        float: left;
        text-align: left;
    }

    .row > .col .col:first-child {
        width: 33%;
        text-align: center;
        padding-right: 15px;
    }

    .row > .col .col h2 {
        margin-top: 0;
        font-size: 17px;
    }

    h2 {
        line-height: 1.5;
        max-width: 306px;
    }

    p {
        max-width: 306px;
    }

}

/* Breakpoint - 768 x 1024 (iPad) */

@media only screen and (min-width: 720px) {

    .nav {
        padding: 10px 30px;
    }

    .nav.opened {
        height: 36px;
        padding-top: 10px;
    }

    .nav li {
        display: inline-block;
        margin-right: 15px;
        text-align: left;
    }

    .nav.opened li {
        display: inline-block;
        padding-bottom: 0;
    }

    .nav li.menu {
        display: none;
    }

    .nav li.language {
        margin: 0;
        padding: 0;
    }

    .nav.opened li.language {
        position: static;
    }

    .row {
        padding: 60px 30px;
    }

    .row:after {
        display: table;
        clear: both;
        content: "";
    }

    .row > .col {
        float: left;
        width: 50%;
        padding: 0 20px;
        text-align: center;
        max-width: none;
    }

    .right {
        float: right !important;
    }

    .align-middle {
        transform: translateY(25%);
    }

}

/* no.js overwrites */

.no-js .nav {
    padding: 10px 30px;
}

.no-js .nav.opened {
    height: 36px;
    padding-top: 10px;
}

.no-js .nav li {
    display: inline-block;
    margin-right: 15px;
    text-align: left;
}

.no-js .nav.opened li {
    display: inline-block;
    padding-bottom: 0;
}

.no-js .nav li.menu {
    display: none;
}

.no-js .nav li.language {
    margin: 0;
    padding: 0;
}